* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.info-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  background-color: #000066;
}

.info-container ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0.5rem;
}

.contact-info li,
.social-links li {
  display: flex;
  align-items: center;
}

.contact-info li i,
.social-links li i {
  margin-right: 0.5rem;
}

header {
  background: #333;
  color: #fff;
  padding: 10px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  background: #f4f4f4;
  padding: 60px 0;
  text-align: center;
}

.hero h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.btn {
  background: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 5px;
}

#products {
  padding: 50px 0;
  background: #f4f4f4;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product-card {
  background: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100px;
  height: 100px;
}

.product-card h3 {
  margin: 10px 0;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  position: relative;
  padding: 10px 0;
  margin-top: 30px;
}
